<section>
  <h1>About Me</h1>
  <a href="/images/gplusid.png"><img src="/images/gplusid.png" /></a>
  <span>
    <a href="https://www.facebook.com/hSATAC" target="_blank"><img src="/images/icon_facebook.png"></a>
    <a href="https://twitter.com/hSATAC" target="_blank"><img src="/images/icon_twitter.png"></a>
    <a href="http://www.plurk.com/hSATAC" target="_blank"><img src="/images/icon_plurk.png"></a>
    <a href="http://hsatac.net/+" target="_blank"><img src="/images/icon_googleplus.png"></a>
  </span>
</section>
